<%- include('header'); -%>



<main role="main" class="container Default" style="background-color: rgb(27, 36, 48); text-decoration-color: rgb(27, 36, 48); padding-top: 4px; margin-top: 20px;">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow" style="background-color: rgb(129, 103, 151); border-style: solid; border-width: 4px; border-color: rgb(27, 36, 48);">
    <img class="mr-3" src="/public/images/elijah.jpg" alt="" id="EDB-pic" width="48" height="48">
    <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Elijah D. Bruton</h6>
        <small>12/10/2015<br></small>
    </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow" id="recent_updates_box" style="color: rgb(27, 36, 48); border-style: solid; text-decoration-color: rgb(0, 0, 0); border-color: rgb(129, 103, 150); border-width: 5px; background-color: rgb(214, 213, 168);">
    <h6 class="border-bottom border-gray pb-2 mb-0" style="color: rgb(27, 36, 48);">Recent updates</h6>

<!-- Begin the updates -->
    <!-- Update 1 -->
    <div class="media text-muted pt-3">
        
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark" style="padding-right: 25px;">@daddy</strong>
            </p><p class="date" style="padding-right: 25px; color: rgb(129, 103, 151); line-height: 8px; text-decoration-line: none;">[07/1/2023]</p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        <p></p>
    </div>
    
<!-- Update 2 -->
    <div class="media text-muted pt-3">
        
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark" style="padding-right: 25px;">@mimi</strong>
            </p><p class="date" style="padding-right: 25px; color: rgb(129, 103, 151); line-height: 8px; text-decoration-line: none;">[07/1/2023]</p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        <p></p>
    </div>
    
<!-- Update 3 -->
    <div class="media text-muted pt-3">
        
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark" style="padding-right: 25px;">@papa</strong>
            </p><p class="date" style="padding-right: 25px; color: rgb(129, 103, 151); line-height: 8px; text-decoration-line: none;">[07/1/2023]</p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        <p></p>
    </div>
    <!-- All Updates -->
    <small class="d-block text-right mt-3">
        <a href="#">All updates</a>
    </small>
    
            <!-- Privilege Summary View -->

    </div><div class="my-3 p-3 bg-white rounded box-shadow" style="border-width: 5px; border-style: solid; border-color: rgb(137, 112, 157); background-color: rgb(255, 254, 254);">
    <h6 class="border-bottom border-gray pb-2 mb-0" style="font-family: Courier New; color: rgb(27, 36, 48); font-weight: 800;"><span style="font-weight: 700; font-family: Trebuchet MS, Helvetica, sans-serif; color: rgb(27, 35, 48);">Privilege Summary View</span></h6>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        
        
        </div><div class="media text-muted pt-3" id="quikview_header" style="display: block; float: none; color: rgb(27, 36, 48); background-color: rgb(162, 17, 17); padding-right: 20px; padding-bottom: 0px; padding-top: 0px; text-decoration-color: rgb(27, 36, 48);">
        
        
    </div>
    <div class="media text-muted pt-3" id="tablet_quickview" style="background-color: rgb(81, 85, 126); color: rgb(20, 20, 20); text-decoration-color: rgb(35, 36, 37);">
        <img src="" data-holder-rendered="true" style="width: 32px; height: 32px;">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Daddy</strong>
        </div>
        <span class="d-block">@username</span>
        </div>
    </div>
    
    <small class="d-block text-right mt-3">
        <a href="#">All Priv's</a>
    </small>
    </div>
</main>




<%- include('footer'); -%>